clusters.txt
kmer_contigs.clean_short.txt
kmer_contigs.clean_very_short.txt
*clusters.lp
*contigs.lp
*distances.lp
*genes.lp
*taxonomy.lp
first_set
output*
output.lp
log
CONTIGS.db
PROFILE.db

